/* Center the form and add padding around it */
.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f7f9fc;
  position: relative;
  min-height: 78vh;

  /* Modal Close Button */
  .close-btn {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
  }

  form {
    width: 100%;
    max-width: 450px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .input-field {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  /* Customize mat-error styles */
  mat-error {
    color: #f44336;
    font-size: 0.9rem;
    font-weight: 500;
  }

  /* Customize submit button */
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #4caf50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  /* Responsive adjustments for smaller screens */
  @media (max-width: 600px) {
    form {
      padding: 1.5rem;
    }

    button[type="submit"] {
      font-size: 1rem;
    }

    /* Dropdown style adjustments */
    p-dropdown {
      width: 100%;
    }
  }
}
